page-home {

}

.page-home-background {
  background-color: #090909;
}

.page-home-text-align {
  text-align: center;
  vertical-align: middle;
  top: 15%;
}

.page-home-timer-text {
  color: white;
  font-size: 80px;
  vertical-align: middle;
  font-family: 'Orbitron', sans-serif;
}

.page-home-button-full {
  margin-bottom: 0px;
  height: 75px;
}
